:root{
    --min-width: 600px;
    --far-width: 80px;
    --info-width: 250px;
}
@media screen and (min-width: 600px) {

    .far-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: var(--far-width);
        background-color: var(--main-far-color);
        position: fixed;
        height: 100%;
    }

    .avatar {
        max-width: 60px;
        border-radius: 30px;
        border: 2px solid var(--main-text-color, white);
        align-self: center;
        margin-top: var(--mobile-margin);
    }
    .far-right nav {
        margin-bottom: 15px;
    }
    .far-right nav a{
        font-size: 1rem;
        text-align: center;
        color: var(--subtext-color)
    }

    .information {
        position: fixed;
        height: 100%;
        margin-left: var(--far-width);
        width: var(--info-width);
        border-right: var(--border-thick);
    }

    .heading h1 {
        font-size: 28px;
        border-bottom: var(--border-thick);
        height: 80px;
    }

    main {
        margin-left: calc(var(--info-width) + var(--far-width));
    }

    .footer { display: none; }
}