
/* desktop view once at:
        1. 1000px no matter the height, or
        2. 700px as long as your device is tall enough
*/
@media only screen and (min-width: 700px) and (min-height:475px) {

    :root{
        --far-width: 10%;
        --info-width: 25%;
        --content-margin: calc(var(--info-width) + var(--far-width));
        --sidebar-width: 350px;
    }


    .information {
        position: fixed;
        height: 100%;
        width: var(--info-width);
        margin-left:var(--far-width);
        border-right: var(--border-thick);
        top: 0;
    }

    .title {
        height: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: var(--border-thick);
    }

    .title h1 {
        font-size: 1.6em;
        display:inline;
    }

    .description {
        padding: 5px;
        text-align: left;
    }

    .writer {
        margin-top: var(--mobile-margin);
        margin-bottom: var(--small-margin);
        font-size: 0.8em;
    }

    .navigation {
        padding: 0;
    }

    .navigation ul {
        padding: 0;
        align-items: center;
    }

    /* Change to row navigation once gets enough space */
    @media screen and (min-height: 575px) {

        .navigation a {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .navigation ul {
            display: block;
        }
    
        .navigation li a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 15px;
            padding-left: 15px;
        }
    
        .navigation .fa, .nav-left p {
            display: inline;
            padding-left: 15px;
    
            height: 100%;
        }
        
        .nav-left {
            display: flex;
        }
    
        .nav-left .fa {
            margin: auto;
            padding-left: 0;
        }

        .nav-left p {
            font-size: 0.9rem;
        }

    }

    .tumblr-controls-desktop {
        display: flex;
        width: calc(100% - var(--content-margin));
        position: fixed;
        background-color: var(--content-color);
        border-bottom: var(--border-thick);
        margin-left: var(--content-margin);
        height: 80px;
        justify-content: space-between;
        top: 0;
    }

    .controls, .search {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .search { padding-left: 10px;}
    .search form {
        display: block;
    }

    .controls {
        text-align: right;
        justify-content: flex-end;
    }

    .controls * {
        margin-right: 10px;
    }

    main {
        margin-left: var(--content-margin);
        margin-top: 80px;
    }

    .post {
        margin-top: var(--large-margin);
        border: var(--border-standard);
    }

    .post header{
        border-bottom: var(--border-thick);
        padding-bottom: var(--mobile-margin);
    }

    .post header h1 {
        margin-bottom: 0;
        margin-top: var(--small-margin);
    }

    .post .content { 
        padding-top: var(--mobile-margin);
    }

    body > footer { 
        display: flex;
        height: 100%;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        
        width: var(--far-width);
        position: fixed;
        height: 100%;
        background-color: var(--main-far-color);
        height: 100%;
        top: 0;
        padding: 0;
        padding-top: var(--mobile-margin);
        padding-bottom: var(--mobile-margin);
    }

    .avatar {
        display: block;
        width: 75%;
        border-radius: 30px;
        align-self: center;
    }

    .avatar img {
        width: 100%;
        border: 2px solid var(--main-text-color, white);
        border-radius: 50%;
    }

    body > footer nav ul { 
        display: flex;
        flex-direction: column;
    }

    .sidenav {
        float:right;
        top: 80px;
        right: 0;
        width: var(--sidebar-width);
        position: fixed;
        border-left: var(--border-thick);
        background-color: var(--content-color);
        height: 100%;
    }

    .sidenav > div {
        border-bottom: var(--border-thick);
        background-color: var(--side-bg-color);
    }

    .sidenav > div > * {
        padding: var(--small-margin) var(--mobile-margin)
    }

    .sidenav > div > .trend-tags {
        padding: inherit;
    }

    .updates {
        border-bottom: var(--border-thick);
    }

    .updates h2 {
        display: block;
        padding: 10px;
        text-align: center;
        border-bottom: var(--border-thick);
        text-decoration: none;
    }

    .updates h2 a {
        color: var(--accent-color);
    }

    .updates p {

        padding-top: var(--small-margin);
        padding-bottom: var(--small-margin);
        text-align: left;
    }

    .trend-title {
        display: flex;
        border-bottom: var(--border-thick);
        align-items: center;
    }

    .trend-title:hover {
        cursor: pointer;
    }

    .trend-title .icon {
        display: inline-block;
        padding: 5px;
        height: 100%;
    }

    .trend-title h2 {
        padding-left: 10px;
    }

    .trend-tags {
        display: flex;
        flex-wrap: wrap;
    }

    .trend-tags a {
        width: 50%;
        border-left: var(--border-thick);
        border-bottom: var(--border-thick);
        padding-top: calc(var(--mobile-margin));
        padding: var(--mobile-margin);
        text-align: center;
        flex-grow: 1;
    }

    .trend-tags a:nth-child(2n+1) {
        border-left: none;
    }

    .trend-tags a:hover {
        text-decoration: none;
        background-color: var(--accent-color-dark);
        color: var(--accent-color);
        transition: 0.5s;
    }

    .trend-tags h3 {
        line-height: 1em;
        padding-bottom: 0.2em;
    }

    .trend-tags h4 {
        color: var(--subtext-color);
        line-height: 1em;
    }

    @media (min-width:1000px) {
        :root{
            --far-width: 100px;
            --info-width: 250px;
            --main-top-margin: calc(30px + 5%);
        }
    
        main {
            margin-top: var(--main-top-margin);
        }
    
        .post-list {
            width: 100%;
            max-width: 650px;
            margin: auto;
        }
        .post { 
            border-radius: 5px;
        }
    }
    
    @media (min-width:1500px) {
        main {
            margin-top: 105px;
            margin-right: var(--sidebar-width);
        }

        .sidenav {
            display: flex;
            flex-direction: column;
        }
    }
    
}


