
/* desktop view once at:
        1. 1000px no matter the height, or
        2. 700px as long as your device is tall enough
*/
@media ((min-width:1000px) or ((min-width: 700px) and (min-height:475px))) {

    :root{
        --far-width: 10%;
        --info-width: 25%;
        --content-margin: calc(var(--info-width) + var(--far-width));
    }


    .information {
        position: fixed;
        height: 100%;
        width: var(--info-width);
        margin-left:var(--far-width);
        border-right: var(--border-thick)
    }

    .title {
        height: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: var(--border-thick);
    }

    .title h1 {
        font-size: 1.6em;
        display:inline;
    }

    .description {
        padding: 5px;
        text-align: left;
    }

    .writer {
        margin-top: var(--mobile-margin);
        margin-bottom: var(--small-margin);
        font-size: 0.8em;
    }

    .navigation {
        padding: 0;
    }

    .navigation ul {
        padding: 0;
        align-items: center;
    }

    /* Change to row navigation once gets enough space */
    @media screen and (min-height: 575px) {

        .navigation a {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .navigation ul {
            display: block;
        }
    
        .navigation li a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 15px;
            padding-left: 15px;
        }
    
        .navigation .fa, .nav-left p {
            display: inline;
            padding-left: 15px;
    
            height: 100%;
        }
        
        .nav-left {
            display: flex;
        }
    
        .nav-left .fa {
            margin: auto;
            padding-left: 0;
        }

        .nav-left p {
            font-size: 0.9rem;
        }
        /*
        /* Make size bigger for taller screens 
        @media (min-height: 650px) {
            .nav-left p {
                font-size: 1.3rem;
            }
        }*/

    }

    .tumblr-controls-desktop {
        display: flex;
        width: calc(100% - var(--content-margin));
        position: fixed;
        background-color: var(--content-color);
        border-bottom: var(--border-thick);
        margin-left: var(--content-margin);
        height: 80px;
        justify-content: space-between;
    }

    .controls, .search {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .search { padding-left: 10px;}
    .search form {
        display: block;
    }

    .controls {
        text-align: right;
        justify-content: flex-end;
    }

    .controls * {
        margin-right: 10px;
    }

    main {
        padding-left: var(--content-margin);
        padding-top: 80px;
    }

    body > footer { 
        display: flex;
        height: 100%;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        
        width: var(--far-width);
        position: fixed;
        height: 100%;
        background-color: var(--main-far-color);
        height: 100%;
        top: 0;
        padding: 0;
        padding-top: var(--mobile-margin);
        padding-bottom: var(--mobile-margin);
    }

    .avatar {
        display: block;
        width: 75%;
        border-radius: 30px;
        align-self: center;
    }

    .avatar img {
        width: 100%;
        border: 2px solid var(--main-text-color, white);
        border-radius: 50%;
    }

    body > footer nav ul { 
        display: flex;
        flex-direction: column;
    }

    
}

@media ((min-width:1000px)) {
    :root{
        --far-width: 100px;
        --info-width: 250px;
        --content-margin: calc(var(--info-width) + var(--far-width));
    }
}
