/* GLOBAL VARIABLES */
:root {
    --main-bg-color: red;
    --accent-color: #56bc8a;
    --accent-color-dark: #0f2017;
    --main-text-color: white;
    --main-far-color: black;
    --side-bg-color: #121212;
    --main-background-color: #111111;
    --subtext-color: #808080;
    --content-color: #222;
    --font: 'Helvetica Neue';
    --font-size: 15px;
    --extreme-margin: 30px;
    --large-margin: 20px;
    --mobile-margin: 15px;
    --standard-margin: 10px;
    --tip-x: calc(-1 * var(--standard-margin) - 5px);
    --tip-y: 10%;
    --small-margin: 5px;
    --tiny-margin: 3px;
    --nav-color: #333;
    --border-color: rgba(255, 255, 255, 0.05);
    --border-desktop-color: rgba(255, 255, 255, 0.2);
    --border-standard: 1px solid var(--border-color);
    --border-thick: 1px solid var(--border-desktop-color);
    --max-post-list-width: 650px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:visited{
    color: inherit;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover { text-decoration: underline;}

body {
    font-size: var(--font-size);
    line-height: 1.4;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    font-family: var(--font), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
}

/* HEADING */

.title:hover { text-decoration: none;}
.title:link { color:var(--main-text-color); }

.heading {
    background-color: var(--content-color);
}

.information {
    text-align: center;
    background-color: var(--content-color);
}

.heading h1 { 
    padding: var(--mobile-margin); 
    font-size: 2.5rem;
}

.description {
    padding-left: var(--mobile-margin);
    padding-right: var(--mobile-margin);
    padding-top: var(--mobile-margin);
    max-width: 100%;
    text-align: justify;
}

.description a {
    color: var(--accent-color);
}

.writer {
    text-align: center;
    margin-top: var(--large-margin);
    margin-bottom: var(--large-margin);
}

/* NAVBAR */

.navigation {
    background-color: var(--nav-color);
    padding: var(--small-margin);
    border-top: var(--border-standard);
    border-bottom: var(--border-standard);
}

.navigation ul {
    display: flex;
    justify-content: center;
    padding: var(--small-margin) var(--large-margin);
}

.navigation .fa {
    display: none;
}

.navigation ul li {
    list-style-type: none;
    box-sizing: border-box;
    flex: 1;
}

.navigation a {
    padding-top: var(--mobile-margin);
    padding-bottom: var(--mobile-margin);
}


nav a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--subtext-color);
}

nav a:hover {
    background-color: var(--accent-color-dark);
    text-decoration: none;
    color: var(--accent-color);
    transition: 0.5s;
}

nav a:visited {
    color: var(--subtext-color);
}

nav a:visited:hover {
    color: var(--accent-color);
}

.secondary {
    color: var(--subtext-color)
}

.tumblr-controls-desktop { display: none; }

#menu:hover { cursor: pointer; }

/* MAIN CONTENT: MOBILE */
.post {
    background-color: var(--content-color);
    border-bottom: var(--border-thick);
}

.post img {
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.post header, .post .content {
    padding: var(--mobile-margin);
}

.content blockquote {
    border-left: var(--border-thick);
    border-bottom: var(--border-thick);
    border-radius: 0 0 0 0.5em;
    padding-left: var(--large-margin);
    padding-right: var(--large-margin);
    margin-bottom: var(--standard-margin);
}

.content * {
    margin-top: var(--standard-margin);
}

.post-info {
    color: var(--subtext-color);
    font-weight: 700;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info .icon{
    display: none;
}

.post-info div, .post-info a {
    display: inline-block;
    font-size: 1.1em;
    text-decoration: none;
    color: var(--subtext-color);
}

.post h1 {
    font-size: 1.9em;
    text-align: center;
    margin-top: var(--mobile-margin);
    margin-bottom: var(--small-margin);
}

.post h1 a {
    color: inherit;
    text-decoration: none;
}

.post .content {
    text-align: left;
    padding-top: 0;
    padding-bottom: var(--large-margin);
}

.content a {
    color: var(--accent-color);
}

.content figure {
    border: none;
    margin: 0 0 1em 0;
}

.content p {
    margin: 0 0 1em 0;
}

.content h2 {
    margin: 1rem 0;
}

.content h2:first-of-type { margin-top: 0; }

.post-body > * {
    margin-bottom: 10px;
}

.post-body ul, .post-body ol {
    padding-left: 40px; /* To keep the original ordered list */
}

.post-tags {
    flex: 2;
    list-style: none;
    border-right: var(--border-thick);
    padding-right: var(--small-margin);
}

.post-tags li {
    display: inline-block;
    margin-right: var(--small-margin);

}

.post-tags li > a {
    color: var(--subtext-color);
}

.post-tags li a:hover {
    text-decoration: none;
    color: var(--accent-color);
    transition: 0.5s;
}

.post footer {
    border-top: var(--border-standard);
    display: flex;
    justify-content: space-between;
    background-color: var(--border-color);
    padding: var(--mobile-margin);
}

.post-controls {

    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.post-controls .fa {

    border: none;
    background: none;
    color: var(--main-text-color);
}

.post-controls .fa:hover {
    cursor:pointer;
}

.fa-retweet {
    margin: 0 var(--tiny-margin);
}

.pin { 
    margin-right: var(--mobile-margin);
}

/* NOTE INFORMATIOIN */
.note-info {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--large-margin);
    margin-top: var(--large-margin)
}

.note-count {
    background-color: var(--nav-color);
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: var(--standard-margin);
    border-radius: 0;
}

.notes {
    background-color: var(--content-color);
    list-style: none;
    padding: var(--standard-margin);

    border-radius: 0;
}

.note {
    display: flex;
    align-items: center;
    margin-bottom: var(--small-margin);
}

.note .action a:visited {
    color: var(--accent-color);
}

/* PAGINATION */
.pagination {
    display: flex;
    justify-content: space-around;
    margin: var(--extreme-margin);
    max-width: var(--max-post-list-width);
    margin-left: auto;
    margin-right: auto;
}

.page {
    display: flex;
    border: 2px solid var(--accent-color);
    height: 1.7em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: var(--small-margin);
    border-radius: 0.3em;
}

.page:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--accent-color-dark);
    background-color: var(--accent-color);
    transition: 0.5s;
}

.page:visited { color: var(--accent-color)}
.page:visited:hover { color: var(--accent-color-dark)}

.sidenav { display: none; }

/* FOOTER */

body > footer {
    padding: var(--mobile-margin);
    color: var(--subtext-color);
}

.avatar { display: none; }

body > footer div {
    text-align: center;
}


body > footer nav { 
    justify-content: center;
    text-align: center;
}
body > footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body > footer nav li {
    list-style: none;
    text-align: center;
}

body > footer nav a {
    display: inline;
    color: var(--subtext-color);
    font-size: 1rem;
}

body > footer nav li a:hover {
    color: var(--accent-color);
    background-color: inherit;
}

/* POST TYPES */

.reblog-item {
    margin-bottom: var(--standard-margin);
    padding: 0;
    padding-left: 5px;
}

.reblog-header {
    margin: 0;
}

.reblog-header figure {
    max-width: 75px;
    padding: 0;
    flex: 1;
    margin: 0;
}

.reblog-header figure img {
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.reblog-body {
    border-left: var(--border-thick);
    border-bottom: var(--border-thick);
    border-color: var(--nav-color);
    border-radius: 0 0 0 0.5em;
    padding-left: var(--large-margin);
    padding-right: var(--large-margin);
    margin-bottom: var(--standard-margin);
}

/* PHOTO TYPE*/
.featured-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-photo * { margin: 0;}

.featured-photo figcaption { 
    width: 100%;
    border-bottom: var(--border-thick);
    border-top: none;
    padding: 3px;
    text-align: center;
}

.featured-photo figcaption > *:last-child {
    margin-bottom: 0;
}

/* PHOTOSET TYPE*/

.photoset {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

.photoset .photo {
    height: 100%;
    width: 30%;
    margin: 0 var(--tiny-margin);
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.photoset img {
    height: 150px;
    object-fit: cover;
}

.setLink {
    padding: 1%;
    height: 100%;
    display: flex;
    align-items: center;
}

.setLink:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--accent-color-dark);
    color: var(--main-text-color);
}

/* QUOTE TYPE */

.post-quote blockquote {
    padding: var(--standard-margin);
    text-align: center;
}

.quote > h2, .quote > h3 {
    margin: 0;
}

/* LINK TYPE */
.link-wrapper > a {
    display: flex;
    justify-content: center;
    margin-bottom: var(--large-margin);
    margin-top: var(--large-margin);
    padding: 0;
    background-color: var(--nav-color);
}

.link-wrapper > a * {
    margin-top: 0;
}

.link-wrapper > a:hover {
    text-decoration: none;
}

.link-thumbnail {
    flex-grow: 1;
    flex-basis: 20%;
    display: flex;
    align-items: center;
}

.link-details {
    flex-grow: 3;
    padding: 0 var(--standard-margin);
}

.link-details > * {
    color: var(--main-text-color);
    padding-bottom: var(--small-margin);    
}

.link-details .link-title {
    font-size: x-large;
    text-align: center;
    color: var(--main-text-color);
    padding-bottom: var(--standard-margin);
    margin-bottom: var(--small-margin);
    border-bottom: var(--border-thick);
}

.link-source {
    color: var(--accent-color);
}

.link-source:hover {
    text-decoration: underline;
}

/* CHAT POSTS */

.conversation {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

.chat-item {
    margin: 0;
    padding: var(--small-margin) var(--standard-margin);
}

.chat-odd {
    background-color: var(--border-color);
}

.chat-label {
    font-weight: bold;
}

/* AUDIO POSTS */
.audio-embed, .video-embed {
    display: flex;
    justify-content: center;
}

.audio-embed {
    background-color: var(--nav-color);
    margin-bottom: var(--standard-margin);
}

.video-embed {
    margin-bottom: var(--standard-margin);
}

/* ANSWER POSTS */
.asker .asker {
    display: inline;
    font-size: 1em;
}

.answerer .answerer {
    display: inline;
    font-size: 1em;
}

.answer, .question {
    display: flex;
}

.ask-contents {
    background-color: var(--main-background-color);
    padding: var(--standard-margin);
    margin: 0;
    flex: 1;
    position: relative;
    border-radius: 0.3em;
}

.ask-contents::after {
    content: '';
    position: absolute;
    right: var(--tip-x);
    top: var(--tip-y);
    border-color:transparent transparent transparent var(--main-background-color);
    border-width: 10px;
    border-style: solid;
}

.ask-contents .asker {
    color: var(--main-text-color);
    margin: 0;
    display: block;
    background-color: var(--nav-color);
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    padding: var(--small-margin);
}

.answerer-avatar, .asker-avatar {
    margin: 0;
    height: 35px;
}

.answerer-avatar {
    margin-right: var(--standard-margin);
    border-radius: var(--small-margin);
}

.asker-avatar {
    margin-left: var(--standard-margin);
}

.answer-contents {
    background-color: var(--main-background-color);
    padding: var(--standard-margin);
    margin: 0;
    flex: 1;
    position: relative;
    border-radius: 0.3em;
}

.answer-contents::after {
    content: '';
    position: absolute;
    left: var(--tip-x);
    top: var(--tip-y);
    border-color:transparent var(--main-background-color) transparent transparent;
    border-width: 10px;
    border-style: solid;
}

.answer-contents .answerer {
    color: var(--main-text-color);
    margin: 0;
    display: block;
    background-color: var(--nav-color);
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    padding: var(--small-margin);
}

aside {
    display: none;
}

/* EXTRA TUMBLR FEATURES */
.like_button {
    display: flex;
    margin: 0 var(--standard-margin);
}